:root {
  background: #e3edfb;

  --color-icon: #0b3a67;

  --image-width: 8rem;
  --card-padding: 1rem;

  --font-heading: 1.75rem;

  /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
  --hide-overlay: 1;
}

/* Begynd her... */
section {
  background: var(--background);
  padding: var(--card-padding);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  align-self: center;
  justify-items: end;
  img {
    width: var(--image-width);
    border-radius: 100%;
  }
}

article {
  h1 {
    font-size: var(--font-heading);
    font-weight: bold;
  }
  p {
    color: green;
  }
}
.img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

svg {
  color: var(--color-icon);
}
