article {
  /* max-width: 65ch; */
  margin-inline: auto;

  display: grid;
  grid-template-columns: [full-start] 1fr 2rem [content] minmax(0, 65ch) 2rem 1fr [full-start];

  > * {
    grid-column: content;
  }
  img {
    grid-column: full-start;
  }

  blockquote {
    grid-column: callout;
  }
}
