---
const { cardContent } = Astro.props;
---

<ul class="full-width">
  {
    cardContent.map((card) => (
      <li>
        <h3>{card.title}</h3>
        <p>{card.body}</p>
      </li>
    ))
  }
</ul>

<style>
  ul {
    list-style: none;
    display: flex;
    overflow-x: auto;
    gap: var(--card-gap);
    padding: 0;

    scroll-snap-type: x mandatory;
    grid-column: full;
    padding-inline: max(1rem, 50% - var(--content-width) / 2);
    padding-block-end: 1rem;

    > * {
      flex: 1 0 50%;
      background-color: var(--card-background);
      padding: var(--card-padding);
      border-radius: var(--card-border-radius);
      color: var(--card-text-color);
    }
  }
</style>
